#quote-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(248, 248, 248, 0.2);
  max-width: 600px;
  padding: 20px;
  width: 80%;
  box-sizing: border-box;
  transition: opacity 0.7s ease;
}